@using TrainSystem.Entities;
@using TrainSystem.Extensions;
@model TrainSystem.ViewModels.DataViews.Stations.IndexVM

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/css/Stations.css">
    <title>BDJ | Staions</title>
</head>
<body>

    <div class="container">
        <div>Station ID</div>
        <div>Location</div>
        <div>Action</div>
    

    @foreach(var item in Model.Items)
    {
        <div>@item.Id</div>
        <div>@item.Location</div>
        <div>
                <button class="btn"><a href="/Stations/Edit?id=@item.Id">Edit</a></button>
                <button class="btn"><a href="/Stations/Delete?id=@item.Id" onclick="return confirm('Delete item?')">Delete</a></button>
        </div>
    }

    </div>

    <button class="create-btn"><a href="/Stations/Create">Create</a></button>

</body>